---
import { Image } from "astro:assets";
import DeskTop from "../../assets/images/desk_view.webp"
import ButtonGroup from "../ButtonGroup.astro";
import type CustomImageScroll from "../CustomImageScroll.astro";


type Props = {
  title: string;
  subtitle?: string;
  showButtons?: boolean;

  buttonLink1?: string;
  buttonText1?: string;
  buttonLink2?: string;
  buttonText2?: string;
};

const {
  title = "Jumbotron Title",
  subtitle = "Jumbotron Body",
  showButtons = true,
  buttonLink1 = "https://google.com",
  buttonText1 = "Googies",
  buttonLink2 = "https://msn.com",
  buttonText2 = "MSN",
  
} = Astro.props;
---

<section class="bg-white dark:bg-gray-900 w-full">
  <div
    class="relative h-[400px] overflow-hidden py-0 px-0 mx-auto max-w-screen-xl text-center lg:py-0"
  >
    <Image
      src={DeskTop}
      alt="hero"
      height={400}
      width={Math.round((100 * 16) / 9)}
      class="w-full h-auto object-cover lg:absolute"
    />

    <div
      class="absolute right-0 inset-0 flex flex-col justify-center bg-white bg-opacity-50"
    >
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        {title}
      </h1>
      <h4
        class="mb-8 text-lg font-normal text-gray-700 lg:text-2xl sm:px-16 lg:px-48 dark:text-gray-400"
      >
        {subtitle}
      </h4>
      {showButtons?
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
      >
        <!--Needs work -->
        <ButtonGroup
          text1={buttonText1}
          href1={buttonLink1}
          text2={buttonText2}
          href2={buttonLink2}
        />
      </div>:null
      }
    </div>
  </div>
</section>
