---
import { Image } from "astro:assets";
const title = "Some of our customers";
import Lockheed from "../../assets/icons/lockheed.webp";
import Ncdot from "../../assets/icons/ncdot.webp";
import Usps from "../../assets/icons/usps_oig.webp";
import Homeland from "../../assets/icons/homeland.webp";
import Nctreasurer from "../../assets/icons/nc-treasurer.webp";
---

<section class="bg-teal-500 dark:bg-teal-900 px-4 py-4 hidden md:block">
  <h2
    class="mb-8 lg:mt-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-100 dark:text-white md:text-4xl"
  >
    {title}
  </h2>
  <div class="w-full inline-flex flex-nowrap overflow-hidden justify-center">
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-marquee text-gray-500 dark:text-gray-400"
    >
      <li>
        <Image
          src={Lockheed}
          width={100}
          height={100}
          alt="Lockheed"
          class="object-contain"
        />
      </li>
      <li>
        <Image
          src={Ncdot}
          width={100}
          height={100}
          alt="NC DOT"
          class="object-contain"
        />
      </li>
      <li>
        <Image src={Usps} width={100} alt="USPS OIG" class="object-contain" />
      </li>
      <li>
        <Image
          src={Nctreasurer}
          width={100}
          height={100}
          alt="NC Treasurer"
          class="object-contain"
        />
      </li>
      <li>
        <Image
          src={Homeland}
          width={100}
          height={100}
          alt="Homeland Security"
          class="object-contain"
        />
      </li>
    </ul>
    <!-- <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-marquee text-gray-500 dark:text-gray-400"
    >
      <li>
        <Image
          src={Lockheed}
          width={100}
          height={100}
          alt="Lockheed"
          class="object-contain"
        />
      </li>
      <li>
        <Image
          src={Ncdot}
          width={100}
          height={100}
          alt="NC DOT"
          class="object-contain"
        />
      </li>
      <li>
        <Image
          src={Usps}
          width={100}
          height={100}
          alt="USPS OIG"
          class="object-contain"
        />
      </li>
      <li>
        <Image
          src={Nctreasurer}
          width={100}
          height={100}
          alt="NC Treasurer"
          class="object-contain"
        />
      </li>
      <li>
        <Image
          src={Homeland}
          width={100}
          height={100}
          alt="Homeland Security"
          class="object-contain"
        />
      </li>
    </ul> -->
  </div>
</section>

<!-- animate-loopScroll lg:flex lg:gap-4 sm:grid sm:grid-cols-2 sm:items-center text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-5 dark:text-gray-400 -->
