---
import { Image } from "astro:assets";
import UniqueImage from '../../assets/images/Unique-BG.webp'
import ButtonGroup from "../ButtonGroup.astro";
import type CustomImageScroll from "../CustomImageScroll.astro";
import Dancing from '../../assets/images/dancing.webp'
import Image1 from '../../assets/images/image1.webp'
import Image2 from '../../assets/images/image2.webp'
import Image3 from '../../assets/images/image3.webp'
import Image4 from '../../assets/images/image4.webp'
import Image5 from '../../assets/images/image5.webp'
import Image6 from '../../assets/images/image6.webp'
import Image7 from '../../assets/images/image7.webp'
import Button from "../Button.astro";

type Props = {
  title: string;
  subtitle?: string;
  showButtons?: boolean;
  backgroundcover?: string;
  buttonLink1?: string;
  buttonText1?: string;
  buttonLink2?: string;
  buttonText2?: string;
};

const {
  title = "Jumbotron Title",
  subtitle = "Jumbotron Body",
  showButtons = true,
  buttonLink1 = "https://google.com",
  buttonText1 = "Googies",
  buttonLink2 = "https://msn.com",
  buttonText2 = "MSN",
  backgroundcover = "/images/desk_view.webp",
} = Astro.props;
---

<section class="bg-white dark:bg-gray-900 w-full my-8 px-4">
  <div
    class="relative h-full md:h-[400px] overflow-hidden py-2 md:py-0 md:px-0 mx-auto max-w-screen-xl text-center lg:py-0"
  >
    <div class="md:flex h-full sm:space-y-8  md:h-[400px] left-0 bottom-0 right-0 top-0">
        <div class="lg:w-[50%] flex sm:flex-col justify-center items-center">
            <div class="h-[300px] w-[350px] bg-primary rounded-md relative">
                <div class="absolute h-[85px] w-[63px] top-[119px] bottom-[127px] left-[127px] right-[135px] overflow-hidden rounded-md">
                    <Image 
                        src={Dancing}
                        alt="dancing"
                        width={62}
                        height={110}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[74px] w-[98px] top-[32px] bottom-[244px] left-[210px] right-[42px] overflow-hidden rounded-md">
                    <Image 
                        src={Image1}
                        alt="img1"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[80px] w-[106px] top-[131px] bottom-[139px] left-[234px] right-[10px] overflow-hidden rounded-md">
                    <Image 
                        src={Image2}
                        alt="img2"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[78px] w-[59px] top-[224px] bottom-[67px] left-[234px] right-[38px] overflow-hidden rounded-md">
                    <Image 
                        src={Image3}
                        alt="img3"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[60px] w-[80px] top-[224px] bottom-[46px] left-[127px] right-[143px] overflow-hidden rounded-md">
                    <Image 
                        src={Image4}
                        alt="img4"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[71px] w-[94px] top-[195px] bottom-[84px] left-[14px] right-[242px] overflow-hidden rounded-md">
                    <Image 
                        src={Image5}
                        alt="img5"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[54px] w-[72px] top-[121px] bottom-[175px] left-[33px] right-[245px] overflow-hidden rounded-md">
                    <Image 
                        src={Image6}
                        alt="img6"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
                <div class="absolute h-[68px] w-[91px] top-[27px] bottom-[255px] left-[62px] right-[187px] overflow-hidden rounded-md">
                    <Image 
                        src={Image7}
                        alt="img7"
                        width={120}
                        height={67}
                        class='object-cover'
                    />
                </div>
            </div>
        </div>
        <div
          class="flex flex-col justify-center mt-2 lg:mt-0"
        >
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
          >
            {title}
          </h1>
          <h4
            class="mb-8 text-lg font-normal text-gray-700 lg:text-2xl sm:px-16 lg:px-48 dark:text-gray-400"
          >
            {subtitle}
          </h4>
          {showButtons?
          <div
            class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 max-w-40"
          >
            <!--Needs work -->
            {/* <ButtonGroup
              text1={buttonText1}
              href1={buttonLink1}
              text2={buttonText2}
              href2={buttonLink2}
            /> */}
            <Button text="Contact Us" href="/#contact-us" bgColor="primary" textColor="primaryBlk" />
          </div>:null
          }
        </div>
    </div>
  </div>
</section>
