---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import data from "../data/site.json";

import Waves from "../assets/images/wavesOpacity3.svg";
import Customers from "../components/custom/Customers.astro";
import ContactUs from "../components/custom/ContactUs.astro";

import CustomFAQs from "@/components/custom/CustomFAQs.astro";
//import MarketingHero from "@/components/React/MarketingHero.tsx";
import MarketingHero from "@/components/MarketingHero.astro";
import CustomerQuote from "@/components/Sections/CustomerQuote.astro";
import BlogPreview from "@/components/custom/BlogPreview.astro";
import Strategies from "@/components/Strategies.astro";
import FeaturedImpact from "@/components/FeaturedImpact.astro";
import Pillars from "@/components/Pillars.astro";
import Methodology from "@/components/Methodology.astro";
import CaseStudyGallery from "@/components/Sections/CaseStudyGallery.astro";
import V2VFramework from "@/components/V2VFramework.astro";
// import V2VFramework from "@/components/React/V2VFramework.tsx";
import { getImage } from "astro:assets";
import v2v1Src from "@/assets/images/V2V-image-1.avif";
import v2v2Src from "@/assets/images/V2V-image-2.avif";
import v2v3Src from "@/assets/images/V2V-image-3.avif";

const v2v1 = await getImage({
  src: v2v1Src,
  format: "avif",
  quality: 75,
  widths: [320, 640, 880],
});
const v2v2 = await getImage({
  src: v2v2Src,
  format: "avif",
  quality: 75,
  widths: [320, 640, 880],
});
const v2v3 = await getImage({
  src: v2v3Src,
  format: "avif",
  quality: 75,
  widths: [320, 640, 880],
});
---

<Layout
  title={data.siteName}
  description={data.siteDescription}
  image={data.image.src}
>
  <main class="pt-16 md:pt-20 overflow-x-hidden w-full">
    <!-- <Header /> -->
    <!-- <CustomHero /> -->

    <MarketingHero />
    <!-- <MarketingHero client:only="react" /> -->

    <Customers />

    <Strategies />

    <!-- <Methodology /> -->
    <!-- <V2VFramework client:only="react" v2v1={v2v1} v2v2={v2v2} v2v3={v2v3} /> -->
    <V2VFramework v2v1={v2v1} v2v2={v2v2} v2v3={v2v3} />

    <FeaturedImpact />

    <CaseStudyGallery />
    <!-- <div data-aos="fade-up">
        <Image
          src={Waves}
          height={50}
          width={1200}
          format="webp"
          alt="waves"
          class="w-full overflow-hidden object-cover"
        />
        <Pillars />
      </div> -->

    <CustomerQuote />

    <BlogPreview />

    <CustomFAQs />

    <ContactUs />
  </main>
</Layout>
