---
interface Props {
  title: string;
  description: string;
  image?: string;
  frontmatter?: object;
}

const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import data from "../data/site.json";
import Seo from "@/components/custom/Seo.astro";
import "animate.css";
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content={data.siteDescription} />
    <meta
      name="keywords"
      content="Sublime UX, User Experience, web dsesign, web development, Greensboro, design, user interface, Triad, North Carolina, design expert, fast website, modern web site"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      //check for dark mode in local storage using the theme var
      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script type="application/ld+json" defer>
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "Sublime UX",
        "image": "@src/images/socialImage.webp",
        "telephone": "(336) 517-7923",
        "email": "todurant@sublimeux.com",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Greensboro",
          "addressRegion": "NC"
        },
        "url": "https://www.sublimeux.com/"
      }
    </script>
    <Seo title={title} description={description} image={data.image} />
  </head>
  <body>
    <div class="bg-slate-50 dark:bg-slate-800 min-h-screen">
      <Nav />
      <div class="container">
        <slot />
        <Footer />
      </div>
    </div>
    <script>
      // [!code ++]
      import AOS from "aos"; // [!code ++]
      AOS.init(); // [!code ++]
    </script>
    <script type="text/javascript" is:inline>
      (function (d, t) {
        var v = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
        v.onload = function () {
          window.voiceflow.chat.load({
            verify: { projectID: "67609c9373a2bb187bcbd163" },
            url: "https://general-runtime.voiceflow.com",
            versionID: "production",
          });
        };
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs";
        v.type = "text/javascript";
        s.parentNode.insertBefore(v, s);
      })(document, "script");
    </script>
    <style>
      .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 1rem;
        /* height: 100vh;
        overflow-y: auto;
        perspective: 16px; */
      }
      .section {
        padding: 60px 0;
      }
      #footer {
        position: fixed;
      }

      @media (max-width: 767px) {
        main {
          min-height: calc(100vh - 69px);
        }
        footer > ul > li {
          display: none;
        }
        footer {
          position: relative;
        }
      }
    </style>
  </body>
</html>
