---
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import Layout from "../layouts/Layout.astro";
import TableOfContents from "../components/TableOfContents.astro";

type Props = CollectionEntry<"posts">["data"] & { headings: MarkdownHeading[] };

const { title, pubDate, description, headings } = Astro.props;
---

<Layout title={title} description={description}>
  <article class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8 py-14">
    <div>
      <a href="/blog" class="my-5 text-amber-600 underline">Back to Blog Home</a
      >
      <div>
        <h1 class="text-bold text-2xl lg:text-4xl mb-5">{title}</h1>
        <p>{pubDate}</p>
        <hr />
      </div>

      <TableOfContents headings={headings} />

      <slot />
    </div>
  </article>
</Layout>
