---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import Layout from "./Layout.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <div class="md:py-8 py-16">
    <a
      href="/blog"
      class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white border border-secondary"
      >Back To Blog Home</a
    >
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      {
        post.data.postimage?.src && (
          <Image
            src={post.data.postimage}
            alt={post.data.title}
            class="mb-10 w-[350px] max-w-7xl rounded-xl object-cover"
          />
        )
      }

      <span class="flex text-3xl">{post.data.title}</span>
      <span
        >Published: {
          new Date(post.data.pubDate).toLocaleDateString("en-US")
        }</span
      >
      <p class="my-6 text-lg leading-8">
        {post.data.description}
      </p>
      <div class="mt-10">
        <slot />
      </div>
    </div>
  </div>
</Layout>
